.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 200px;
    flex-direction: column;
}
#my-button{
    border-radius: 5px;
    border: none;
    font-size: 30px;
    padding: 0px 10px;
    border: 2px solid black;
    transition: 0.2s;
    margin-top: 10px;


}
#greet-button{

    border-radius: 5px;
    border: none;
    font-size: 30px;
    padding: 0px 10px;
    border: 2px solid black;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#num1{
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
}
#num2{
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
}
#add-button{
    border-radius: 5px;
    border: none;
    border: 1px solid black;

}
#add-button:hover{
    background-color: green;
    color: white;
}
