*{
    margin: 0;
    padding: 0;
}
#heading{
    margin-bottom: 10px;
    color: blueviolet;
}
#para{
     margin-bottom: 10px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px;
     padding-left: 5px;
     color:rgb(48, 35, 48);
}
.image{
    height:500px;
    padding-left: 5px;
}
.divClass{
    padding: 10px;
    margin: 10px;
    background-color: aquamarine;
    border-radius: 5px;
    height: 100px;

}
h2{
    margin-bottom: 20px;

}
input{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    
}
button{
    height: 25px;
    width: 100px;
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
    border: 1px solid black;
}
button:hover{
    background-color:rgb(19, 82, 19);
    color: white;
}
.nav {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: rgb(243, 240, 240);
    padding: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.H{
    margin-bottom: 20px;
    color: blue;
}

