*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: #f5efef;
}
header{
     background-color: #c6c7ca;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 15px 8%;
     position: relative;
}
.logo{
    font-size: 20px;
    font-weight: bold;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    transition: .3s;
}
nav ul li a:hover{
    color: rgb(3, 36, 3);
}

.hamburger{
    font-size: 30px;
    cursor: pointer;
    display: none;
}
#menu-toggle{
    display: none ;
}
.hero{
    text-align: center;
    padding: 100px 20px;
}
.hero h1{
     font-size: 30px;
     margin-bottom: 25px;
}
.hero p{
    
    font-size: 20px;
    margin-bottom: 20px;

}
.btn{
    background-color:rgb(146, 146, 204) ;
    color: black;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    transition: .3s;
}
.btn:hover{
    background-color:rgb(50, 138, 50);
}

@media (max-width:768px){

    .hamburger{
        display: block;
    }
    nav{
        display:none;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #bdc1ce;
    }

    nav ul{
        flex-direction: column;
        text-align: center;
        gap: 0;
    }
    nav ul li{
        padding: 15px;
        border-top: 1px solid rgba(255,255,255,.02);
    }
    #menu-toggle:checked ~ nav{
        display: block;
    }
    .hero h1{
        font-size: 30px;
    }
}
